<div class="card card-xxl-stretch mb-5 mb-xxl-8">
  <!-- begin::Header -->
  <div class="card-header border-1 pt-2">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Criar Unidade de Medida</span>
    </h3>
    <div
      class="card-toolbar"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-bs-trigger="hover"
      title="Clique para voltar a listagem"
    >
      <a href="javascript:void(0)" routerLink="/unidademedida" class="btn btn-sm btn-light-primary align-items-end">
        <span [inlineSVG]="'./assets/media/icons/duotune/general/gen058.svg'" class="svg-icon svg-icon-3"></span>
        Voltar
      </a>
    </div>
  </div>
  <!-- end::Header -->
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row justify-content-center">
      <form class="card" [formGroup]="criarUnidadeMedidaForm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">Descrição*</label>
                <input class="form-control" type="text" formControlName="descricao" maxlength="30" />
                <div
                  *ngIf="
                    criarUnidadeMedidaForm.get('descricao')?.touched &&
                    criarUnidadeMedidaForm.get('descricao')?.hasError('required')
                  "
                  class="text text-danger"
                >
                  Campo obrigatório!
                </div>
                <div
                  *ngIf="
                    criarUnidadeMedidaForm.get('descricao')?.touched &&
                    criarUnidadeMedidaForm.get('descricao')?.hasError('maxlength')
                  "
                  class="text text-danger"
                >
                  Tamanho máximo: 30
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">Sigla*</label>
                <input class="form-control" type="text" formControlName="sigla" maxlength="3" />
                <div
                  *ngIf="
                    criarUnidadeMedidaForm.get('sigla')?.touched &&
                    criarUnidadeMedidaForm.get('sigla')?.hasError('required')
                  "
                  class="text text-danger"
                >
                  Campo obrigatório!
                </div>
                <div
                  *ngIf="
                    criarUnidadeMedidaForm.get('sigla')?.touched &&
                    criarUnidadeMedidaForm.get('sigla')?.hasError('maxlength')
                  "
                  class="text text-danger"
                >
                  Tamanho máximo: 3
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">Descrição Banco Preço</label>
                <input class="form-control" type="text" formControlName="descricao_banco_preco" maxlength="20" />
                <div
                  *ngIf="
                    criarUnidadeMedidaForm.get('descricao_banco_preco')?.touched &&
                    criarUnidadeMedidaForm.get('descricao_banco_preco')?.hasError('required')
                  "
                  class="text text-danger"
                >
                  Campo obrigatório!
                </div>
                <div
                  *ngIf="
                    criarUnidadeMedidaForm.get('descricao_banco_preco')?.touched &&
                    criarUnidadeMedidaForm.get('descricao_banco_preco')?.hasError('maxlength')
                  "
                  class="text text-danger"
                >
                  Tamanho máximo: 20
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-right">
          <button class="btn btn-success" [disabled]="!criarUnidadeMedidaForm.valid" (click)="criar()">
            Cadastrar
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
