<div class="card card-xxl-stretch mb-5 mb-xxl-8">
  <!-- begin::Header -->
  <div class="card-header border-1 pt-2">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Almoxarifados</span>
    </h3>
    <div class="d-flex justify-content-between">
      <!--div class="card-toolbar me-4" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
        title="Clique para filtrar Usuários do Almoxarifado">
        <button (click)="openAccordion()" class="btn btn-sm btn-light-primary">
          <i class="fa fa-light fa-filter" *ngIf="!filtroButton"></i>
          <i class="fa fa-light fa-filter-circle-xmark" *ngIf="filtroButton"></i>
          Filtrar
        </button>
      </div-->
      <div class="card-toolbar">
        <a href="javascript:void(0)" routerLink="/entradamaterial/listar"
          class="btn btn-sm btn-light-primary align-items-end m-1">
          <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr076.svg'" class="svg-icon svg-icon-3"></span>
          Entradas
        </a>
      </div>

      <div class="card-toolbar">
        <a href="javascript:void(0)" routerLink="/saidamaterial/listar"
          class="btn btn-sm btn-light-primary align-items-end m-1">
          <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr077.svg'" class="svg-icon svg-icon-3"></span>
          Saidas
        </a>
      </div>

      <div class="card-toolbar">
        <a *appPermission="['Almoxarifado', 'novo_almoxarifado']" href="javascript:void(0)"
          routerLink="/almoxarifado/criar" class="btn btn-sm btn-light-primary align-items-end m-1">
          <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'" class="svg-icon svg-icon-3"></span>
          Novo Almoxarifado
        </a>
      </div>
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <div class="row mb-3" *ngIf="filtroButton">
      <div class="col-md-2">
        <div class="form-group mb-0">
          <label>Usuários</label>
          <select class="form-select" [(ngModel)]="usuarioSelecionado">
            <option value="">Selecione</option>
            <option *ngFor="let usuario of usuarios" value="{{ usuario.id }}">
              {{ usuario.nome }}
            </option>
          </select>
        </div>
      </div>

      <div class="d-flex col-md-12 mb-3 mt-3 align-self-end justify-content-end">
        <button (click)="filtrar()" class="btn btn-success btn-sm">Filtrar</button>
        <button (click)="limparFiltros()" class="btn btn-primary btn-sm mx-2">Limpar Filtros</button>
      </div>
    </div>
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="table table-hover table-row-dashed align-middle table-row-gray-300 gs-0 gy-0">
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-dark fs-5">
            <th class="min-w-10px">Código</th>
            <th class="min-w-180px">Descrição</th>
            <th class="min-w-180px">Endereço</th>
            <th class="min-w-180px">Bairro</th>
            <th class="min-w-180px">Cidade</th>
            <th class="min-w-100px text-center">Ações</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr *ngFor="let almoxarifado of almoxarifados; trackBy: trackItem">
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex justify-content-start flex-column">
                  <span class="text-dark fw-normal fs-5 mx-3"> {{ almoxarifado.id }} </span>
                </div>
              </div>
            </td>
            <td>
              <span href="#" class="text-dark fw-normal d-block fs-5">{{ almoxarifado.descricao }}</span>
            </td>
            <td class="text-content-start">
              <div class="d-flex flex-column w-100 me-2">
                <span href="#" class="text-dark fw-normal d-block fs-5"> {{ almoxarifado.logradouro }}, {{ almoxarifado.numero_logradouro }}, {{ almoxarifado.logradouro_complemento }}</span>
              </div>
            </td>
            <td class="text-content-start">
              <div class="d-flex flex-column w-100 me-2">
                <span href="#" class="text-dark fw-normal d-block fs-5"> {{ almoxarifado.bairro }} </span>
              </div>
            </td>
            <td class="text-content-start">
              <div class="d-flex flex-column w-100 me-2">
                <span href="#" class="text-dark fw-normal d-block fs-5"> {{ almoxarifado.municipio }} </span>
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-end flex-shrink-0">
                <button *appPermission="['Almoxarifado', 'associar_usuario']"
                  [routerLink]="['/almoxarifado', almoxarifado.id, 'usuario']"
                  class="btn btn-icon btn-active-color-primary btn-md me-1">
                  <i class="fa-solid fa-user"></i>
                </button>
                <button (click)="editar(almoxarifado.id)" href="#" title="Editar" class="btn btn-icon btn-active-color-warning btn-md me-1"
                  >
                  <span [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'" class="svg-icon svg-icon-3"></span>
                </button>
                <button (click)="deletar(almoxarifado.id)" href="#" class="btn btn-icon btn-active-color-danger btn-md">
                  <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                    class="svg-icon svg-icon-3"></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
    </div>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->
</div>