<div class="card px-0 mb-3">
  <div class="card-header border-1 pt-2">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Saída Material</span>
    </h3>
    <div class="btn-toolbar" role="toolbar">
      <div
        class="card-toolbar"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        data-bs-trigger="hover"
        title="Clique para adicionar nova Saída Material"
      >
        <!--button
          href="javascript:void(0)"
          (click)="duplicarSaida()"
          class="btn btn-sm btn-light-primary align-items-end me-4"
        >
          <i class="fa-solid fa-plus"></i>
          Duplicar Saída
        </button-->
        <a
          href="javascript:void(0)"
          routerLink="/saidamaterial/criar"
          class="btn btn-sm btn-light-primary align-items-end me-4"
        >
          <i class="fa-solid fa-plus"></i>
          Nova Saída
        </a>
        <div
          class="card-toolbar"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-trigger="hover"
          title="Clique para voltar"
        >
          <a
            href="javascript:void(0)"
            routerLink="/saidamaterial/listar"
            class="btn btn-sm btn-light-primary align-items-end"
          >
            <span [inlineSVG]="'./assets/media/icons/duotune/general/gen058.svg'" class="svg-icon svg-icon-3"></span>
            Voltar
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card px-0">
    <div class="mt-2">
      <div class="d-flex flex-column">
        <div class="nav nav-pills d-flex nav-pills-custom mb-0">
          <div class="card text-dark header-informations mb-3 mx-4 px-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <b>Número: {{ saidaMaterial.id }}</b>
              </li>
              <li class="list-group-item">
                <b>Tipo Saída: {{ saidaMaterial.tipo_saida_descricao }}</b>
              </li>
            </ul>
          </div>
          <div class="card text-dark header-informations mb-3 mx-4 px-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <b>Data: {{ saidaMaterial.data_solicitacao | date : 'dd/MM/yyyy' }}</b>
              </li>
              <li class="list-group-item">
                <b>Status: {{ saidaMaterial.status_descricao }}</b>
              </li>
            </ul>
          </div>
          <div *ngIf="eMQuantidade" class="card text-dark header-informations mb-3 mx-4 px-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <b> Quantidade de Itens: {{ eMQuantidade.quantidade_itens }} </b>
              </li>
              <li class="list-group-item">
                <b> Valor Total da Saída: {{ eMQuantidade.valorTotal | currency : 'BRL' : 'symbol' : '1.2-2' }} </b>
              </li>
            </ul>
          </div>
        </div>
        <div class="nav nav-pills d-flex nav-pills-custom mb-0">
          <div class="nav-item mx-4 mb-3 me-0" role="presentation">
            <a
              [ngClass]="{ disabled: !this.id }"
              class="nav-link nav-link-border-solid btn btn-outline btn-flex flex-column flex-stack pt-9 pb-7 page-bg active"
              data-bs-toggle="pill"
              routerLink="cadastro"
              routerLinkActive="navAtiva"
              style="width: 90px; height: 130px"
              role="tab"
              tabindex="-1"
            >
              <div class="nav-icon mb-3">
                <img src="/assets/media/icons/documentos.png" class="icon-config" alt="" />
              </div>
              <div class="">
                <span class="text-gray-800 fw-bold fs-5 d-block">Dados Saída</span>
              </div>
            </a>
          </div>

          <div class="nav-item mx-4 mb-3 me-0" role="presentation">
            <a
              [ngClass]="{ disabled: !this.id }"
              class="nav-link nav-link-border-solid btn btn-outline btn-flex flex-column flex-stack pt-9 pb-7 page-bg active"
              data-bs-toggle="pill"
              routerLink="item"
              routerLinkActive="navAtiva"
              style="width: 90px; height: 130px"
              aria-selected="false"
              role="tab"
              tabindex="-1"
            >
              <div class="nav-icon mb-3">
                <img src="/assets/media/icons/items.png" class="icon-config" alt="" />
              </div>
              <div class="">
                <span class="text-gray-800 fw-bold fs-5 d-block">Itens</span>
                <span class="text-gray-600 fw-semibold fs-3">{{
                  eMQuantidade ? eMQuantidade.quantidade_itens : '-'
                }}</span>
              </div>
            </a>
          </div>

          <div class="nav-item mx-4 mb-3 me-0" role="presentation">
            <a
              [ngClass]="{ disabled: !this.id }"
              class="nav-link nav-link-border-solid btn btn-outline btn-flex flex-column flex-stack pt-9 pb-7 page-bg active"
              data-bs-toggle="pill"
              routerLink="historico"
              routerLinkActive="navAtiva"
              style="width: 90px; height: 130px"
              aria-selected="false"
              role="tab"
              tabindex="-1"
            >
              <div class="nav-icon mb-3">
                <img src="/assets/media/icons/clock.png" class="icon-config" alt="" />
              </div>
              <div class="">
                <span class="text-gray-800 fw-bold fs-5 d-block">Histórico</span>
                <!--span class="text-gray-600 fw-semibold fs-3">{{
                  eMQuantidade ? eMQuantidade.quantidade_historico : '-'
                }}</span-->
              </div>
            </a>
          </div>

          <div class="nav-item mx-4 mb-3 me-0" role="presentation">
            <!--begin::Nav link-->
            <a
              [ngClass]="{ disabled: !this.id }"
              class="nav-link nav-link-border-solid btn btn-outline btn-flex flex-column flex-stack pt-9 pb-7 page-bg active"
              data-bs-toggle="pill"
              routerLink="anexos"
              routerLinkActive="navAtiva"
              style="width: 90px; height: 130px"
              aria-selected="false"
              role="tab"
              tabindex="-1"
            >
              <!--begin::Icon-->
              <div class="nav-icon mb-3">
                <img src="/assets/media/icons/folders.png" class="icon-config" alt="" />
              </div>
              <!--end::Icon-->
              <!--begin::Info-->
              <div class="">
                <span class="text-gray-800 fw-bold fs-5 d-block">Anexos</span>
              </div>
              <!--end::Info-->
            </a>
            <!--end::Nav link-->
          </div>

          <div *ngIf="saidaMaterial.status_id==3 || saidaMaterial.status_id==4" class="nav-item mx-4 mb-3 me-0" role="presentation">
  <button
    type="button"
    [disabled]="!id"
    class="nav-link nav-link-border-solid btn btn-outline btn-flex flex-column flex-stack pt-9 pb-7 page-bg active"
    (click)="open(content)"
    style="width: 90px; height: 130px"
  >
    <div class="nav-icon mb-3">
      <img src="/assets/media/icons/printer.png" class="icon-config" alt="" />
    </div>
    <div>
      <span class="text-gray-800 fw-bold fs-5 d-block">Impressão</span>
    </div>
  </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Impressão -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Impressão de Documentos</h4>
    <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->
  </div>
  <div class="modal-body">
    <div class="form-group mb-0">
      <label>Impressões</label>
      <select class="form-select" [(ngModel)]="selectedImpressao">
        <option value="0" aria-placeholder="Impressões">Selecione</option>
        <option value="1" aria-placeholder="Impressões" >Guia de Saída de Material</option>
        <!--option value="2" aria-placeholder="Impressões">Guia de Saída de Material Por Cidadão</option-->
        <option value="3" aria-placeholder="Impressões" >Guia de separação de Material</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="imprimir()">Imprimir</button>
  </div>
</ng-template>