<div class="card card-xxl-stretch mb-5 mb-xxl-8">
  <!-- begin::Header -->
  <div class="card-header border-1 pt-2">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Usuários</span>
    </h3>
    <div
    *appPermission="['Usuário', 'novo_usuario']"
      class="card-toolbar"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-bs-trigger="hover"
      title="Clique para adicionar novo usuário"
    >
      <a href="javascript:void(0)" routerLink="/usuario/criar" class="btn btn-sm btn-light-primary align-items-end">
        <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'" class="svg-icon svg-icon-3"></span>
        Novo usuário
      </a>
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table
        datatable
        [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"
        class="table table-hover table-row-dashed table-row-gray-300 align-middle gs-0 gy-0"
      >
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-dark fs-5">
            <th class="min-w-120px">Código</th>
            <th class="min-w-140px">Nome</th>
            <th class="min-w-140px">Perfil</th>
            <th class="min-w-100px text-end">Ações</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr *ngFor="let usuario of usuarios; trackBy: trackItem">
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex justify-content-start flex-column">
                  <span class="text-dark fw-normal fs-5 mx-3"> {{ usuario.id }} </span>
                </div>
              </div>
            </td>
            <td>
              <span href="#" class="text-dark fw-normal d-block fs-5">{{ usuario.nome }}</span>
            </td>
            <td>
              <span href="#" class="text-dark fw-normal d-block fs-5">{{ usuario.perfil }}</span>
            </td>
            <td>
              <div class="d-flex justify-content-end flex-shrink-0">
                <ng-container *appPermission="['Usuário', 'editar_usuario']">
                <button
                  [routerLink]="['/usuario/editar', usuario.id]"
                  class="btn btn-icon btn-active-color-warning btn-md me-1"
                >
                 <span [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'" class="svg-icon svg-icon-3"></span>
                </button>
              </ng-container>
              <ng-container *appPermission="['Usuário', 'excluir_usuario']">
                <button (click)="deletar(usuario.id)" href="#" class="btn btn-icon btn-active-color-danger btn-md">
                  <span
                    [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                    class="svg-icon svg-icon-3"
                  ></span>
                </button>
              </ng-container>
              </div>
            </td>
          </tr>
        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
    </div>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->
</div>
