.navAtiva {
  border-color: #009EF7 !important;
  border-width: 2px !important;
}

.fa-2xl {
  font-size: 2em !important;
  line-height: .03125em !important;
  vertical-align: -.1875em !important;
}

.ng-select.ngSelectDropdown ::ng-deep {
  border:0px;
  min-height: 0px;
  border-radius: 1;
  background: azure;
}
.ng-select.ngSelectDropdown ::ng-deep .ng-select-container  {
  min-height: 0px;
  border-radius: 1;
  background: azure;
}

::ng-deep ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #8cb8e1!important;
}

.min-w-160px {
  min-width: 160px !important;
}

::ng-deep .accordion-button:not(.collapsed) {
  background-color: #B6D9F2;
  border-bottom: 1px solid #343c80;
}
::ng-deep .accordion-button {
  background-color: #B6D9F2;
  border-bottom: 1px solid #343c80;
}

::ng-deep .title-header {
  justify-content: start;
}


.tooltip-toggle-right {
  cursor: pointer;
  position: relative;

  &::before {
    position: absolute;
    top: -60px;
    left: -80px;
    background-color: #2b222a;
    border-radius: 5px;
    color: #fff;
    content: attr(aria-label); //This pulls in the text from the element with the tooltip
    padding: 1rem;
    text-transform: none;
    transition: all 0.5s ease;
    width: 400px;
    z-index: 2;
  }

  &::after {
    position: absolute;
    top: -3px;
    left: 9px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #2b222a;
    content: ' ';
    font-size: 0;
    line-height: 0;
    margin-left: -5px;
    width: 0;
  }

  &::before,
  &::after {
    color: #efefef;
    font-family: monospace;
    font-size: 16px;
    opacity: 0;
    pointer-events: none;
    text-align: center;
  }

  &:focus::before,
  &:focus::after,
  &:hover::before,
  &:hover::after {
    left: 100%;
    opacity: 1;
    transition: all 0.75s ease;
  }
}

#tableItem {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  }
