<div class="card mt-3">
  <div class="card-header border-1 pt-2 d-flex align-items-center">
  <h3 class="card-title align-items-start flex-column mb-0">
    <span class="card-label fw-bolder fs-3">Adicionar itens</span>
  </h3>

  <div class="card-toolbar ms-auto d-flex gap-2">
    <button
      *ngIf="entradaMaterial?.status_id === 1"
      (click)="abrirModalNotaFiscal()"
      class="btn btn-sm btn-primary"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title="Clique para Adicionar itens através da nota fiscal"
    >
      <i class="fa-solid fa-plus me-1"></i>
      Adicionar itens da nota fiscal
    </button>

    <button
      *ngIf="entradaMaterial?.status_id === 1 && entradaMaterial?.tipo_entrada === 1"
      (click)="adicionarTodosItensPorPedidoCompra()"
      class="btn btn-sm btn-primary"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title="Clique para Adicionar todos os itens"
    >
      <i class="fa-solid fa-plus me-1"></i>
      Adicionar todos os itens do pedido
    </button>
  </div>
</div>

  <div *ngIf="entradaMaterial?.status_id === 1" class="card-body">
    <div class="row" *ngIf="selectedProdutoServico && entradaMaterial.tipo_entrada === 1">
      <h5 class="fw-bolder"><span>Dados do Pedido de Compra</span></h5>
      <div class="col-md-2">
        <label class="form-label fw-bolder">Quantidade Solicitada</label>
        <input class="form-control" type="text" [value]="quantidadeSolicitadaSelecionada" readonly />
      </div>
      <div class="col-md-2">
        <label class="form-label fw-bolder">Quantidade Entrada</label>
        <input class="form-control" type="text" [value]="quantidadeEntradaSelecionada" readonly />
      </div>
      <div class="col-md-2">
        <label class="form-label fw-bolder">Saldo disponível</label>
        <input class="form-control" type="text" [value]="saldo" readonly />
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label class="form-label fw-bolder">Valor</label>
          <div class="input-group">
            <span class="form-label input-group-text">R$</span>
            <input
              class="form-control inputSizeMax"
              type="text"
              [value]="valorSelecionado | number : '1.2-2'"
              readonly
            />
          </div>
        </div>
      </div>
    </div>
    <form [formGroup]="addProdutoSDForm">
      <div class="row mt-3">
        <div class="col-md-8">
          <div class="form-group">
            <label class="form-label">Itens</label>
            <ng-select
              appendTo="body"
              class="ngSelectDropdown"
              [virtualScroll]="true"
              [items]="produtosServico"
              bindLabel="descricao"
              bindValue="produto_servico_id"
              formControlName="produto_servico_id"
              (change)="selecionarItem($event)"
            >
              <ng-template ng-option-tmp let-item="item">
                <div data-title="{{ item.produto_servico_id }}">
                  {{ item.descricao }}
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group mb-0">
            <label>Data de validade</label>
            <input class="form-control" type="date" formControlName="data_validade" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group mb-0">
            <label>N° Lote</label>
            <input class="form-control" type="text" formControlName="numero_lote" maxlength="30" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="form-label">Quantidade*</label>
            <input
              #quantidadeMaterial
              class="form-control"
              type="text"
              formControlName="quantidade"
              mask="separator,2"
              [allowNegativeNumbers]="false"
              thousandSeparator="."
              decimalMarker=","
            />
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="form-label">Valor unitário*</label>
            <input
              class="form-control"
              type="text"
              formControlName="valor"
              mask="separator,2"
              [allowNegativeNumbers]="false"
              thousandSeparator="."
              decimalMarker=","
              prefix="R$"
            />
          </div>
        </div>

        <div class="col-md-3 align-self-center">
          <button class="mt-3 btn btn-success" [disabled]="!addProdutoSDForm.valid" (click)="adicionar()">
            Adicionar
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="card card-xxl-stretch mb-5 mb-xxl-8 mt-3">
    <div class="card-header border-1 pt-2">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Itens</span>
      </h3>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="card-body py-3">
          <div class="table-responsive">
            <table
              datatable
              [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger"
              class="table table-hover table-row-dashed table-row-gray-300 align-middle gs-0 gy-0"
            >
              <thead>
                <tr class="fw-bolder text-dark fs-5">
                  <th class="min-w-1px">Seq</th>
                  <th class="min-w-5px">Código</th>
                  <th class="min-w-300px">Descrição</th>
                  <th class="min-w-5px">Und</th>
                  <th class="min-w-5px">Quantidade</th>
                  <th class="min-w-5px">Valor</th>
                  <th class="min-w-10px">Valor Total</th>
                  <th class="min-w-5px">Data Validade</th>
                  <th class="min-w-5px">N° Lote</th>
                  <th class="min-w-10px text-center">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let entradaItem of entradaItens | sortBy : 'asc' : 'item_descricao';
                    trackBy: trackItem;
                    let i = index
                  "
                >
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="d-flex justify-content-start flex-column">
                        <span class="text-dark fw-normal fs-5"> {{ i + 1 }} </span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="d-flex justify-content-start flex-column">
                        <span class="text-dark fw-normal fs-5"> {{ entradaItem.item_codigo }} </span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="d-flex justify-content-start flex-column">
                        <span class="text-dark fw-normal fs-5"> {{ entradaItem.item_descricao }} </span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="d-flex justify-content-start flex-column">
                        <span class="text-dark fw-normal fs-5"> {{ entradaItem.und_descricao }} </span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="d-flex justify-content-start flex-column">
                        <span class="text-dark fw-normal fs-5"> {{ entradaItem.quantidade }} </span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex">
                      <div class="d-flex">
                        <span class="text-dark fw-normal py-0 fs-4">
                          {{ entradaItem.valor | currency : 'BRL' : 'symbol' : '1.2-2' }}
                        </span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex">
                      <div class="d-flex">
                        <span class="text-dark fw-normal py-0 fs-4">
                          {{ entradaItem.valor_total | currency : 'BRL' : 'symbol' : '1.2-2' }}
                        </span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="d-flex justify-content-start flex-column">
                        <span class="text-dark fw-normal fs-5">{{
                          entradaItem.data_validade | date : 'dd/MM/yyyy'
                        }}</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="d-flex justify-content-start flex-column">
                        <span class="text-dark fw-normal fs-5"> {{ entradaItem.numero_lote }} </span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex flex-shrink-0 justify-content-center" *ngIf="entradaMaterial?.status_id === 1">
                      <button (click)="deletar(entradaItem.item_codigo)" class="btn btn-icon btn-active-color-danger btn-md">
                        <span
                          [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                          class="svg-icon svg-icon-4"
                        ></span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalAdicionarItem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div *appPermission="['Almoxarifado', 'adicionar_item_entrada']" class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Adicionar Item</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalXmlNotaFiscal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Adicionar itens pela Nota Fiscal (XML)</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <label class="form-label fw-bolder">Selecione o arquivo XML</label>
        <input
          #xmlInput
          type="file"
          class="form-control"
          accept=".xml,text/xml,application/xml"
          (change)="onXmlSelected($event)"
        />

        <div class="mt-2 text-muted" *ngIf="xmlFileName">
          Arquivo selecionado: <b>{{ xmlFileName }}</b>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!xmlFile"
          (click)="enviarXmlNotaFiscal()"
        >
          Enviar XML e adicionar itens
        </button>
      </div>
    </div>
  </div>
</div>