.navAtiva {
  border-color: #009EF7 !important;
  border-width: 2px !important;
}

.fa-2xl {
  font-size: 2em !important;
  line-height: .03125em !important;
  vertical-align: -.1875em !important;
}

table {
  .head {
    text-transform: capitalize !important;
    font: bold !important;
    text-align: left;
  }
  tr{
    text-align: left;
    line-height: normal;
  }
}

.justify-items{
  display:flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
}


.header-informations {

  li {
    border-bottom-color: #168bdf !important
  }

  border: 2px solid!important;
  border-radius: 10px!important;
  border-color: #168bdf!important;
  box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02)!important;
  border-radius: 0.625rem!important;
  max-width: 300px;
}

.etapas-pills {
  border: 2px solid!important;
  border-radius: 10px!important;
  box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02)!important;
  border-radius: 0.625rem!important;
}
