<div class="card card-xxl-stretch mb-5 mb-xxl-8">
  <!-- begin::Header -->
  <div class="card-header border-1 pt-2">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Editar Secretaria/Fundo</span>
    </h3>
    <div
      class="card-toolbar"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-bs-trigger="hover"
      title="Clique para adicionar uma nova secretaria"
    >
      <a
        href="javascript:void(0)"
        routerLink="/secretariafundo/criar"
        class="btn btn-sm btn-light-primary align-items-end me-3"
      >
        <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'" class="svg-icon svg-icon-3"></span>
        Nova Secretaria/Fundo
      </a>
      <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
        title="Clique para voltar">
      <a href="javascript:void(0)" routerLink="/secretariafundo" class="btn btn-sm btn-light-primary align-items-end">
        <span [inlineSVG]="'./assets/media/icons/duotune/general/gen058.svg'" class="svg-icon svg-icon-3"></span>
        Voltar
      </a>
    </div>
  </div>
  </div>
  <!-- end::Header -->
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row justify-content-center">
      <form class="card" [formGroup]="editarSecretariaFundoForm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">Descrição*</label>
                <input class="form-control" type="text" formControlName="descricao" maxlength="200" />
                <div
                  *ngIf="
                    editarSecretariaFundoForm.get('descricao')?.touched &&
                    editarSecretariaFundoForm.get('descricao')?.hasError('required')
                  "
                  class="text text-danger mt-3"
                >
                  Campo obrigatório!
                </div>
                <div
                  *ngIf="
                    editarSecretariaFundoForm.get('descricao')?.touched &&
                    editarSecretariaFundoForm.get('descricao')?.hasError('maxlength')
                  "
                  class="text text-danger mt-3"
                >
                  Tamanho máximo: 200
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mt-3">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">Descrição Resumida*</label>
                <input class="form-control" type="text" formControlName="descricaoresumida" maxlength="50" />
                <div
                  *ngIf="
                    editarSecretariaFundoForm.get('descricaoresumida')?.touched &&
                    editarSecretariaFundoForm.get('descricaoresumida')?.hasError('required')
                  "
                  class="text text-danger mt-3"
                >
                  Campo obrigatório!
                </div>
                <div
                  *ngIf="
                    editarSecretariaFundoForm.get('descricaoresumida')?.touched &&
                    editarSecretariaFundoForm.get('descricaoresumida')?.hasError('maxlength')
                  "
                  class="text text-danger mt-3"
                >
                  Tamanho máximo: 20
                </div>
              </div>
            </div>
            <div class="col-md-3 mt-3">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">Sigla*</label>
                <input class="form-control" type="text" formControlName="sigla" maxlength="7" />
                <div
                  *ngIf="
                    editarSecretariaFundoForm.get('sigla')?.touched &&
                    editarSecretariaFundoForm.get('sigla')?.hasError('required')
                  "
                  class="text text-danger mt-3"
                >
                  Campo obrigatório!
                </div>
                <div
                  *ngIf="
                    editarSecretariaFundoForm.get('sigla')?.touched &&
                    editarSecretariaFundoForm.get('sigla')?.hasError('maxlength')
                  "
                  class="text text-danger mt-3"
                >
                  Tamanho máximo: 7
                </div>
              </div>
            </div>
            <div class="col-md-3 mt-3">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">Código TCM</label>
                <input mask="0*" class="form-control" type="text" formControlName="codigo_tcm" />
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">Grupo Secretaria*</label>
                <select class="form-select form-select-lg" formControlName="grupo_secretaria_id">
                  <option value="">Selecione um Grupo Secretaria</option>
                  <option *ngFor="let grupoSecretaria of grupoSecretarias" value="{{ grupoSecretaria.id }}">
                    {{ grupoSecretaria.descricao }}
                  </option>
                </select>
                <div
                  *ngIf="
                    editarSecretariaFundoForm.get('grupo_secretaria_id')?.touched &&
                    editarSecretariaFundoForm.get('grupo_secretaria_id')?.hasError('required')
                  "
                  class="text text-danger mt-3"
                >
                  Campo obrigatório!
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">Órgão*</label>
                <select class="form-select form-select-lg" formControlName="orgao_id">
                  <option value="">Selecione um Órgão</option>
                  <option *ngFor="let orgao of orgaos" value="{{ orgao.id }}">{{ orgao.descricao }}</option>
                </select>
                <div
                  *ngIf="
                    editarSecretariaFundoForm.get('orgao_id')?.touched &&
                    editarSecretariaFundoForm.get('orgao_id')?.hasError('required')
                  "
                  class="text text-danger mt-3"
                >
                  Campo obrigatório!
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">Usuários Permitidos*</label>
                <ng-select
                  class="ngSelectDropdown"
                  [items]="usuarios"
                  bindLabel="nome"
                  bindValue="id"
                  [(ngModel)]="selectedUsuarios"
                  [multiple]="true"
                  formControlName="usuario_id"
                >
                </ng-select>

                <div
                  *ngIf="
                    editarSecretariaFundoForm.get('usuario_id')?.touched &&
                    editarSecretariaFundoForm.get('usuario_id')?.hasError('required')
                  "
                  class="text text-danger"
                >
                  Campo obrigatório!
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">Responsável*</label>
                <ng-select
                  class="ngSelectDropdown"
                  [items]="pessoas"
                  bindLabel="nome"
                  bindValue="id"
                  [(ngModel)]="selectedPessoa"
                  [multiple]="true"
                  formControlName="gpessoa_responsavel_id"
                >
                </ng-select>

                <div
                  *ngIf="
                    editarSecretariaFundoForm.get('gpessoa_responsavel_id')?.touched &&
                    editarSecretariaFundoForm.get('gpessoa_responsavel_id')?.hasError('required')
                  "
                  class="text text-danger"
                >
                  Campo obrigatório!
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mt-3">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">Logradouro</label>
                <input class="form-control" type="text" formControlName="logradouro" maxlength="100" />
                <div
                  *ngIf="
                    editarSecretariaFundoForm.get('logradouro')?.touched &&
                    editarSecretariaFundoForm.get('logradouro')?.hasError('maxlength')
                  "
                  class="text text-danger mt-3"
                >
                  Tamanho máximo: 100
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">Complemento</label>
                <input class="form-control" type="text" formControlName="complemento" maxlength="20" />
                <div
                  *ngIf="
                    editarSecretariaFundoForm.get('complemento')?.touched &&
                    editarSecretariaFundoForm.get('complemento')?.hasError('maxlength')
                  "
                  class="text text-danger mt-3"
                >
                  Tamanho máximo: 20
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-5">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">Bairro</label>
                <input class="form-control" type="text" formControlName="bairro" maxlength="30" />
                <div
                  *ngIf="
                    editarSecretariaFundoForm.get('bairro')?.touched &&
                    editarSecretariaFundoForm.get('bairro')?.hasError('maxlength')
                  "
                  class="text text-danger mt-3"
                >
                  Tamanho máximo: 30
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">Município*</label>
                <select class="form-select form-select-lg" formControlName="municipio_id">
                  <option value="">Selecione um Município</option>
                  <option *ngFor="let municipio of municipios" value="{{ municipio.id }}">{{ municipio.nome }}</option>
                </select>
                <div
                  *ngIf="
                    editarSecretariaFundoForm.get('municipio_id')?.touched &&
                    editarSecretariaFundoForm.get('municipio_id')?.hasError('required')
                  "
                  class="text text-danger mt-3"
                >
                  Campo obrigatório!
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">CEP</label>
                <input mask="00.000-000" class="form-control" type="text" formControlName="cep" maxlength="15" />
                <div
                  *ngIf="
                    editarSecretariaFundoForm.get('cep')?.touched &&
                    editarSecretariaFundoForm.get('cep')?.hasError('maxlength')
                  "
                  class="text text-danger mt-3"
                >
                  Tamanho máximo: 8
                </div>
                <div
                  *ngIf="
                    editarSecretariaFundoForm.get('cep')?.touched &&
                    editarSecretariaFundoForm.get('cep')?.hasError('mask')
                  "
                  class="text text-danger mt-3"
                >
                  CEP Inválido
                </div>
              </div>
            </div>
            <div class="col-md-2 mt-3">
              <span class="form-label">Fundo</span>
              <div class="form-group mt-4">
                <div class="form-check form-check-inline">
                  <input
                    (click)="validarFundo(true)"
                    class="form-check-input-sm"
                    type="radio"
                    name="fundo"
                    formControlName="fundo"
                    [value]="true"
                    [(ngModel)]="fundo"
                  />
                  <label class="form-check-label fs-7" for="fundosim">Sim</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    (click)="validarFundo(false)"
                    class="form-check-input-sm"
                    type="radio"
                    name="fundo"
                    formControlName="fundo"
                    [value]="false"
                    [(ngModel)]="fundo"
                  />
                  <label class="form-check-label fs-7" for="fundonao">Não</label>
                </div>
              </div>
            </div>
            <div *ngIf="fundo" class="col-md-6">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">Secretaria/Fundo</label>
                <select class="form-select form-select-lg" formControlName="secretaria_fundo_id">
                  <option value="">Selecione uma Secretaria/Fundo</option>
                  <option *ngFor="let secFundo of secretariasFundos" value="{{ secFundo.id }}">
                    {{ secFundo.descricaoresumida }}
                  </option>
                </select>
                <div
                  *ngIf="
                    editarSecretariaFundoForm.get('secretaria_fundo_id')?.touched &&
                    editarSecretariaFundoForm.get('secretaria_fundo_id')?.hasError('required')
                  "
                  class="text text-danger mt-3"
                >
                  Campo obrigatório!
                </div>
              </div>
            </div>
            <div *ngIf="fundo" class="col-md-4">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">CNPJ</label>
                <input
                  mask="00.000.000/0000-00"
                  class="form-control"
                  type="text"
                  formControlName="cnpj"
                  maxlength="18"
                />
                <div
                  *ngIf="
                    editarSecretariaFundoForm.get('cnpj')?.touched &&
                    editarSecretariaFundoForm.get('cnpj')?.hasError('maxlength')
                  "
                  class="text text-danger mt-3"
                >
                  Tamanho máximo: 14
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer text-right">
          <button class="btn btn-success" [disabled]="!editarSecretariaFundoForm.valid" (click)="editar()">
            Atualizar
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
