<div class="card card-xxl-stretch mb-5 mb-xxl-8">
  <!-- begin::Header -->
  <div class="card-header border-1 pt-2">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Editar Tipo Serviço</span>
    </h3>
    <div
      class="card-toolbar"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-bs-trigger="hover"
      title="Clique para adicionar um Tipo Serviço"
    >
      <a
        href="javascript:void(0)"
        routerLink="/TceTipoServico/criar"
        class="btn btn-sm btn-light-primary align-items-end me-3"
      >
        <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'" class="svg-icon svg-icon-3"></span>
        Novo Tipo Serviço
      </a>
      <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
        title="Clique para voltar">
      <a href="javascript:void(0)" routerLink="/tceTipoServico" class="btn btn-sm btn-light-primary align-items-end">
        <span [inlineSVG]="'./assets/media/icons/duotune/general/gen058.svg'" class="svg-icon svg-icon-3"></span>
        Voltar
      </a>
      </div>
    </div>
  </div>
  <!-- end::Header -->
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row justify-content-center">
      <form class="card" [formGroup]="editarTceTipoServicoForm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">Descrição*</label>
                <input class="form-control" type="text" formControlName="descricao" />
                <div
                  *ngIf="
                  editarTceTipoServicoForm.get('descricao')?.touched &&
                  editarTceTipoServicoForm.get('descricao')?.hasError('required')
                  "
                  class="text text-danger"
                >
                  Campo obrigatório!
                </div>
                <div
                  *ngIf="
                  editarTceTipoServicoForm.get('descricao')?.touched &&
                  editarTceTipoServicoForm.get('descricao')?.hasError('maxlength')
                  "
                  class="text text-danger"
                >
                  Tamanho máximo: 100
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-right">
          <button class="btn btn-success" [disabled]="!editarTceTipoServicoForm.valid" (click)="editar()">Salvar</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
