<div class="card card-xxl-stretch mb-5 mb-xxl-8">
  <!-- begin::Header -->
  <div class="card-header border-1 pt-2">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Criar Setor</span>
    </h3>
    <div
      class="card-toolbar"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-bs-trigger="hover"
      title="Clique para voltar a listagem"
    >
      <a href="javascript:void(0)" routerLink="/setor" class="btn btn-sm btn-light-primary align-items-end">
        <span [inlineSVG]="'./assets/media/icons/duotune/general/gen058.svg'" class="svg-icon svg-icon-3"></span>
        Voltar
      </a>
    </div>
  </div>
  <!-- end::Header -->
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row justify-content-center">
      <form class="card" [formGroup]="criarSetorForm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">Nome*</label>
                <input class="form-control" type="text" formControlName="nome" maxlength="200" />
                <div
                  *ngIf="criarSetorForm.get('nome')?.touched && criarSetorForm.get('nome')?.hasError('required')"
                  class="text text-danger mt-3"
                >
                  Campo obrigatório!
                </div>
                <div
                  *ngIf="criarSetorForm.get('setor')?.touched && criarSetorForm.get('setor')?.hasError('maxlength')"
                  class="text text-danger mt-3"
                >
                  Tamanho máximo: 200
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">Secretaria*</label>
                <select class="form-select form-select-lg" formControlName="secretaria_id">
                  <option value="">Selecione uma secretaria</option>
                  <option
                    *ngFor="let secretaria of secretarias | sortBy: 'asc':'descricao'"
                    value="{{ secretaria.id }}"
                  >
                    {{ secretaria.descricao }}
                  </option>
                </select>
                <div
                  *ngIf="
                    criarSetorForm.get('secretaria_id')?.touched &&
                    criarSetorForm.get('secretaria_id')?.hasError('required')
                  "
                  class="text text-danger mt-3"
                >
                  Campo obrigatório!
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-right">
          <button class="btn btn-success" [disabled]="!criarSetorForm.valid" (click)="criar()">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
