<div class="card card-xxl-stretch mb-5 mb-xxl-8">
  <!-- begin::Header -->
  <div class="card-header border-1 pt-2">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Editar Município</span>
    </h3>
    <div
      class="card-toolbar"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-bs-trigger="hover"
      title="Clique para voltar a listagem"
    >
      <a href="javascript:void(0)" routerLink="/municipio" class="btn btn-sm btn-light-primary align-items-end">
        <span [inlineSVG]="'./assets/media/icons/duotune/general/gen058.svg'" class="svg-icon svg-icon-3"></span>
        Voltar
      </a>
    </div>
  </div>
  <!-- end::Header -->
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row justify-content-center">
      <form class="card" [formGroup]="editarMunicipioForm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">Nome*</label>
                <input class="form-control" type="text" formControlName="nome" maxlength="50"/>
                <div
                  *ngIf="
                    editarMunicipioForm.get('nome')?.touched && editarMunicipioForm.get('nome')?.hasError('required')
                  "
                  class="text text-danger mt-3"
                >
                  Campo obrigatório!
                </div>
                <div
                  *ngIf="
                    editarMunicipioForm.get('nome')?.touched && editarMunicipioForm.get('nome')?.hasError('maxlength')
                  "
                  class="text text-danger mt-3"
                >
                  Tamanho máximo: 50
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">CEP*</label>
                <input #cep class="form-control" type="text" mask="00.000-000" formControlName="cep" maxlength="10"/>
                <div
                  *ngIf="
                    editarMunicipioForm.get('cep')?.touched && 
                    editarMunicipioForm.get('cep')?.hasError('required')
                  "
                  class="text text-danger mt-3"
                >
                  Campo obrigatório!
                </div>
                <div
                  *ngIf="
                    editarMunicipioForm.get('cep')?.touched && 
                    editarMunicipioForm.get('cep')?.hasError('maxlength')
                  "
                  class="text text-danger mt-3"
                >
                Tamanho máximo: 10
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div class="form-group">
                <label class="form-label mt-3 mb-1">Estado*</label>
                <select class="form-select form-select-lg" formControlName="estado_id">
                  <option value="">Selecione um tipo poder</option>
                  <option *ngFor="let estado of estados" value="{{ estado.id }}">{{ estado.nome }}</option>
                </select>
                <div
                  *ngIf="
                    editarMunicipioForm.get('estado_id')?.touched &&
                    editarMunicipioForm.get('estado_id')?.hasError('required')
                  "
                  class="text text-danger mt-3"
                >
                  Campo obrigatório!
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-right">
          <button class="btn btn-success" [disabled]="!editarMunicipioForm.valid" (click)="editar()">Salvar</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
