<div class="modal-header" style="background-color: #343c80">
  <h5 class="modal-title text-white">Sua opinião é muito importante!</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <p>Gostaríamos de saber como foi sua experiência com nosso sistema. Sua resposta nos ajuda a melhorar!</p>
  <div class="row">
    <div class="d-flex justify-content-between align-items-center mt-4">
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSeSTgKIh6WeJWEL15OXYbkZH8T11F1ZK_gdQNowv1omU11TsA/viewform?usp=sharing&ouid=114759367190805424119"
        target="_blank"
        class="btn btn-primary"
      >
        Acessar Pesquisa de Satisfação
      </a>
      <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Fechar</button>
    </div>
  </div>
</div>
